@model List<YouPlay2019.Models.AlunoViewModel>
@{
    ViewData["Title"] = "Consulta";
}
<header>
    <h2 class="text-center">Consulta de Alunos</h2>
</header>
<form asp-action="Pesquisar" method="post">
    <div class="form-group">
        
        @if (ViewBag.Erro != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">@ViewBag.Erro</span>
                </div>
            </div>
        }
    </div>
</form>
@if (Model == null && ViewBag.Erro == null)
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <span class="text-danger">
                    Nenhum dado encontrado
                </span>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <div class="table-responsive-lg">
                <table class="table table-hover table-bordered" id="TabelaID">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            @*<th scope="col">Data de matrícula</th>*@
                            <th scope="col">Status</th>
                            <th scope="col">Disciplina</th>
                            <th scope="col">Ações </th>
                        </tr>
                        <tr>
                            <th scope="col"></th>
                            <th><input type="text" id="txtColuna2" /></th>
                            <th scope="col" ></th>
                            @*<th scope="col" ></th>*@
                            <th ><input type="text" id="txtColuna3" /></th>
                            <th scope="col" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Codigo</th>
                                <td>@item.Nome</td>
                                @*<td>@item.DataMatricula</td>*@
                                <td>@item.CodigoStatus</td>
                                <td>@*@item.DescricaoDisciplina*@</td>
                                <td>
                                    <a href="javascript:editarAluno(@item.Codigo)"  class="btn btn-primary">Editar</a>
                                    <a href="javascript:apagarAluno(@item.Codigo)" class="btn btn-danger">Apagar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        $('#TabelaID').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada Encontado",
                "info": "Exibindo página _PAGE_ de _páginas_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(Filtrado de _MAX_ registros totais)"
            }
        });
    });
    $(function () {
        $("#TabelaID input").keyup(function () {
            var index = $(this).parent().index();
            var nth = "#TabelaID td:nth-child(" + (index + 1).toString() + ")";
            var valor = $(this).val().toUpperCase();
            $("#TabelaID tbody tr").show();
            $(nth).each(function () {
                if ($(this).text().toUpperCase().indexOf(valor) < 0) {
                    $(this).parent().hide();
                }
            });
        });

        $("#TabelaID input").blur(function () {
            $(this).val("");
        });
    });

</script>
